* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.row {
    width: 100%;
    padding: 0 20px 80px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 360px;
}

/*

NAV


*/

nav {
    height: 360px;
}

.nav__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

.nav__logo {
    width: 140px;
    height: 160px;
    padding-left: 10px;
    border-radius: 50%;
}

.nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 0 auto;
}


.nav__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 48px;
    background-color: #5d3eff;
    border: 2px solid #5d3eff;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35s ease;
}

.nav__content--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 120px;
}

.nav__content--title {
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 45px;
    max-width: 1000px;
    margin-bottom: 40px;
}

.nav__input--wrapper {
    width: 100%;
    max-width: 600px;
    height: 60px;
    position: relative;
    border-radius: 9999px;
    overflow: hidden;
    background-color: white;
}

.nav__input {
    color: rgb(0, 0, 0, 0.87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    display: block;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 72px;
    margin-bottom: 80px;
    border: none;
    border-radius: 9999px;
    outline: none;
    appearance: none;
}

.nav__content--search {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 64px;
    color: #6030b1;
    transition: all .2s ease;
}

.fa-magnifying-glass {
    font-size: 20px;
}


/*

SEARCH


*/

#search {
    padding: 40px 20px;
}

.search__bar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;   
    padding: 0 120px
}

.search__info {
    padding: 20px 0;
    font-size: 28px;
    line-height: 1.25;
    text-align: center;
}

.search__content--wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.search__content--info {
    padding: 20px 0;
}


/*

NAV


*/

#movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.movie__img {
    max-height: 380px;
    min-height: 380px;
    object-fit: fill;
}

.movie__title {
    margin: 0 auto;
    padding: 4px 0;
}

/*

NAV


*/

.footer__container {
    height: 250px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__row {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: right;
    justify-content: center;
}

.footer__text {
    color: white;
    margin-bottom: 10px;
}

.footer__logo {
    width: 140px;
    height: 160px;
    padding-left: 10px;
    margin-bottom: 30px;
    border-radius: 50%;
}


/*

Responsive


*/

@media (max-width: 1200px) {
    #movies {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {

    #movies {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav__input--wrapper {
        max-width: 500px;
    }

    .nav__content--title {
        max-width: 500px;
    }
    .nav__logo {
        width: 100px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    #movies {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }

    .nav__input--wrapper {
        max-width: 300px;
    }

    .nav__content--title {
        max-width: 300px;
        font-size: 30px;
    }
    
    .nav__logo {
        width: 100px;
        height: 120px;
    }

    .search__info {
        font-size: 20px;
    }

    .search__content--info {
        padding: 35px 0 30px 20px;
    }
}